{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Pending Tasks</h3>
    </div>
    {% if tasks %}
    <table class="table table-striped" style="table-layout: fixed;">
        <thead>
        <tr>
            <th>#</th>
            <th>Experiment</th>
            <th>Timestamp</th>
            <th>Category</th>
            <th>Target</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url "analysis.views.experiment" task.experiment %}">{{ task.experiment }} - {{ task.target }}</a></td>
                <td>
                    {% if task.status == "reported" %}
                        {{task.completed_on}}
                    {% else %}
                    <span class="muted">Scheduled in <strong>{{task.added_on|timeuntil}}</strong> ({{ task.added_on|date:"d b, H:m" }})</span>
                    {% endif %}
                </td>
                <td>{{task.category}}</td>
                <td>{{task.target}}</td>
                <td>
                    {% if task.status == "pending" %}
                        <span class="text-muted">pending</span>
                    {% elif task.status == "running" %}
                        <span class="text-warning">running</span>
                    {% elif task.status == "completed" %}
                        <span class="text-info">completed</span>
                    {% elif task.status == "reported" %}
                        <span class="text-success">reported</span>
                    {% else %}
                        <span class="text-danger">{{task.status}}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{% url "analysis.views.start" task.id %}" class="btn btn-success">Start</a>
                        {% if task.status == "unscheduled" %}
                            <a href="{% url "analysis.views.schedule" task.id %}" class="btn btn-warning">Schedule</a>
                        {% elif task.status == "scheduled" %}
                            <a href="{% url "analysis.views.unschedule" task.id %}" class="btn btn-warning">Unschedule</a>
                        {% endif %}
                    </div>
                    <a href="{% url "analysis.views.terminate" task.id %}" class="btn btn-danger">Terminate</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="panel-body">No pending tasks.</div>
    {% endif %}
        </div>
{% endblock %}
